@model BlogCore.Models.ViewModels.HomeVM

@{
    ViewData["Title"] = "Inicio";
}

<div class="row mt-1">
    <div class="col-sm-12">
        <h1 class="text-center text-white bg-secondary py-1">Novedades</h1>
    </div>
</div>

@if (Model.ListPeliculas.Count() > 0)
{
    <hr/>
    <div class="row">
        @foreach (var pelicula in Model.ListPeliculas.OrderBy(o => o.Id))
        {
            <div class="col-4">
                <div class="card">
                    <img src="@pelicula.UrlImagen" class="img-thumbnail" width="100%"/>
                    <div class="card-body">
                        <h5 class="text-center">@pelicula.Nombre</h5>
                        <a asp-action="Detalle" class="btn btn-success" style="border-radius;10px" asp-route-id="@pelicula.Id">
                            Más información
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
}
else
{
    <p>No hay peliculas</p>
}
